.notif-comp{
    display:flex;
    flex-direction: column;
    color: hsl(224, 21%, 14%);
}

.notif-comp__main{
    
    display: flex;
    align-items: center;
    padding: 10px 15px;
    gap: 1rem;
    border-radius: 7px;
}

.notif-comp__profile{
    display:flex;
    height: 100%;
}

.notif-comp__profile img{
    height: 3rem;
}

.notif-comp__notif{
    display:flex;
    align-items: center;
}

.notif-comp__dot{
    padding: 0 10px;
    display:flex;
    justify-content: left;
    align-items: flex-start;
}

.notif-comp__dot span{
    color: red;
    background-color: hsl(1, 90%, 64%);
    display:flex;
    height: 5px;
    width: 5px;
    border-radius: 50%;

}

.notif-comp__time{
    color: hsl(219, 14%, 63%)
}

.notif-comp__sub{
    display:flex;
    justify-content: right;
}

.subtext{
    display: flex;
    border: 1px solid hsl(219, 14%, 63%);
    max-width: 90%;
    box-sizing: border-box;
    padding: 1rem 1.5rem;
    border-radius: 10px;
    color: hsl(219, 12%, 42%);
}

.notif-comp.new{
    background-color: hsl(210, 60%, 98%);
}

.notif-comp__dot.invisible{
    display: none;
}